*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
  font-size: 14px;
}

.body{
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    

}


@font-face {
  font-display: swap; 
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); 
}



.header{
    
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 35%;
  padding: 1.5%;
  
  
}





.header__div--logo {
  min-width: 6%;
  max-width: 10%;
  height: auto; 
  
  

  
  
  
}


  .header__img--logo {
    aspect-ratio: auto;
    width: 100%;
    min-width: 120px;
    min-height: 15px;
    max-width: 100%;
    object-fit: contain; 
}
  


.nav{

  max-width: 30%;
  min-width: 10%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  
  
  gap: 25px;

  

}

.nav__span{
    
    
    font-size: 14px;
    
    
}



.header__div--rayitas{
  max-width: 2%;
  min-width: 1%;
  height: 2%;
  
  


 
}


.header__img--rayitas{
    aspect-ratio: auto;
    width: 100%;
   
    
    
}

.main{
 display: flex;
 flex-direction: column;
 flex-grow: 1;
 justify-content: center;
 align-items: center;
 gap: 2%;
 

}

.galeria{
  
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
   
    gap: 10px;
    
}

.galeria-img{
    aspect-ratio: auto;
    width: 100%;
    height: 100%;
    
}

.galeria-img--4{
  
  grid-row: span 2;
  grid-column: span 2;
}

.galeria-img--2f{
  grid-row: span 2;
}

.galeria-img--2c{
 grid-column: span 2;
}



.main__div--logo{
  
 
  width: 25%;
  padding: 20px;
  
  
}

.main__img{
  
  aspect-ratio: auto;
  width: 100%;
   
    object-fit: contain; 
}



.main__p{
    
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
}

.footer{
    padding: 2%;
    width: 100%;
    height: 20%;

  display: flex;
  
justify-content: center;
    align-items: center;
  
}

.footer__p{
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
}